*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.keystore
*.jks
*.p12
/keystore/*.p12
/keystore/*.jks
/keystore/*.keystore
/keystore/secrets.tmp
local-models/
*.gguf
*.mmproj
keystore_base64.txt
